<!DOCTYPE html>
<html>

<head>
  <title>UMBCSAD Greenbank</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="no-referrer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    .logos-section {
      margin-left: 50px;
      margin-right: 50px;
      padding: 1rem;
    }

    .logo-image {
      max-height: 170px;
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    .subtitle {
      padding: 8px;
    }

    .lower-section {
      text-align: center;
      max-width: 80%;
      margin: auto;
    }

    .bottom-tiles-container {
      text-align: left;
    }

    #dns-startbutton:disabled {
      cursor: wait;
    }

    .hero.is-info {
      background: rgb(59, 187, 103);
      background-image: linear-gradient(
        270deg,
        hsl(240deg 62% 49%) 5%,
        hsl(241deg 52% 52%) 22%,
        hsl(242deg 44% 53%) 30%,
        hsl(243deg 35% 54%) 37%,
        hsl(244deg 27% 54%) 42%,
        hsl(247deg 18% 54%) 47%,
        hsl(255deg 10% 54%) 53%,
        hsl(331deg 3% 54%) 58%,
        hsl(43deg 10% 54%) 63%,
        hsl(51deg 19% 53%) 70%,
        hsl(53deg 28% 52%) 78%,
        hsl(55deg 37% 50%) 95%
        );
    }

    .group-desc {
      white-space: normal !important;
      height: initial !important;
      min-height: 2em;
    }

    .quicklink {
      padding: 1em;
      color: rgb(74, 74, 74);
      pointer-events: none;
    }

    .quicklink:hover {
      color: rgb(74, 74, 74);
      box-shadow: 4px 4px 15px 7px #969696;
    }

    .quicklink img {
      max-width: 120px;
      margin: 1.25rem;
      pointer-events: auto;
    }

    .quicklink a {
      pointer-events: auto;
      font-family: monospace;
      font-size: .875em;
      text-decoration: none !important;
    }

    .quicklink a:hover {
      color: red !important;
    }

    .quicklink a:nth-of-type(2) {
      display: block;
      margin-top: 1rem;
    }

    .yellowcake {
      background-color: hsl(60, 60%, 93%);
    }
    .bluechip {
      background-color: hsl(210, 60%, 96%);
    }
  </style>

  <script>
    function dnsTestClicked() {
      console.log("Running DNS Tests...");
      document.querySelector("#dns-startbutton").setAttribute("disabled", "true");
      const progbar = '<progress class="progress is-info" max="100"></progress>';
      const success = `
        <span class="icon-text has-text-success">
          <span class="icon"><i class="fas fa-check"></i></span>
          <span>Success</span>
        </span>`;
      const failure = `
        <span class="icon-text has-text-danger">
          <span class="icon"><i class="fas fa-times"></i></span>
          <span>Failed</span>
        </span>`;
      document.querySelector("#test-ip").innerHTML = progbar;
      document.querySelector("#test-ip-yc").innerHTML = progbar;
      document.querySelector("#test-ip-bc").innerHTML = progbar;
      document.querySelector("#test-expect-fail").innerHTML = progbar;
      document.querySelector("#test-dns").innerHTML = progbar;
      // const port = ":<%= Application.get_env(:hello_backend, :port) %>";

      function genTest(target, elementId, timeoffset, expectFailure = false) {
        return new Promise((resolve, reject) => {
          setTimeout(() => {
            fetch(
              target,
              {
                mode: 'no-cors',
                signal: AbortSignal.timeout(700)
              }
            ).then(response => {
              console.log(`${target}, ${elementId} success`);
              document.querySelector(elementId).innerHTML = expectFailure ? failure : success;
              expectFailure ? reject() : resolve();
            }).catch(error => {
              console.log(`${target}, ${elementId} failure`);
              document.querySelector(elementId).innerHTML = expectFailure ? success : failure;
              expectFailure ? resolve() : reject();
            });
          }, timeoffset);
        });
      }

      let p1 = genTest("http://10.8.0.1", "#test-ip", 200);
      let p2 = genTest("http://10.42.0.1", "#test-ip-yc", 400);
      let p3 = genTest("http://10.42.5.1", "#test-ip-bc", 600);
      let p4 = genTest("http://10.42.6.1", "#test-expect-fail", 100, true);
      let p5 = genTest("https://proxmox.umbcsad.club:8006", "#test-dns", 1000);

      Promise.allSettled([p1, p2, p3, p4, p5]).then((results) => {
        console.log(results);
        const success_count = results.filter((a) => a.status == "fulfilled").length;
        document.querySelectorAll("#dns-test-panel, #dns-startbutton").forEach(n => n.classList.remove("is-info", "is-danger", "is-warning", "is-success"));
        let result_html = `
          <span class="icon-text has-text-warning-dark">
            <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
            <span>${success_count}/5 succeeded</span>
          </span>`;
        if (success_count == 5) {
          // total success
          result_html = success;
          document.querySelectorAll("#dns-test-panel, #dns-startbutton").forEach(n => n.classList.add("is-success"));
        } else if (success_count < 2) {
          // total failure
          result_html = `
            <span class="icon-text has-text-danger">
              <span class="icon"><i class="fas fa-plug"></i></span>
              <span>Disconnected?</span>
            </span>`;
          document.querySelectorAll("#dns-test-panel, #dns-startbutton").forEach(n => n.classList.add("is-danger"));
        } else {
          // intermediate
          document.querySelectorAll("#dns-test-panel, #dns-startbutton").forEach(n => n.classList.add("is-warning"));
        }
        document.querySelector("#dns-summ").innerHTML = result_html;
        document.querySelector("#dns-startbutton").removeAttribute("disabled");
      });
    }
  </script>
</head>

<body>
  <section class="section logos-section">
    <img src="/images/sadnet_hardhat.png" class="logo-image right-image" />
  </section>

  <section class="hero is-info">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title" style="font-weight: normal;">
          You're on <b>SADNET</b>, <%= full_name %>
        </h1>
        <h2 class="subtitle">
          Welcome, user
          <span class="tag is-medium">
            <%= username %>
          </span>
          on internal IP address
          <span class="tag is-medium">
            <%= vpn_ip %>
          </span>
        </h2>
        If you're on this page, you've successfully connected to the VPN. Nice work!
      </div>
    </div>
  </section>

  <section class="section lower-section">
    <h1 class="title" style="margin-bottom: 2.5rem;">Account Status and Next Steps</h1>
    <div class="tile is-ancestor bottom-tiles-container">
      <div class="tile is-vertical is-parent tile-left">


        <!-- PASSWORD -->
        <!--<div class="tile is-child message <%= if pass_good?, do: " is-success", else: "is-danger" %>">
          <div class="message-header">
            <span <%=if pass_good?, do: ~s(style="font-style: italic;" ) %>>
              <%= if pass_good?, do: "Password Already Changed" , else: "Change your Password" %>
            </span>
            <span class="icon">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <div class="message-body">
            <p>
              <span class="icon">
                <i class="fas fa-<%= if pass_good?, do: ~s(check), else: ~s(warning) %>"></i>
              </span>
              <strong>
                <%= if pass_good?, do: "No action required" , else: "You are still using the default password!" %>
              </strong>
            </p>
            <%= if pass_good? do %>
              <p>You have already changed your password. Thank you.</p>
              <p>If you want to change your password again, visit FreeIPA.</p>
              <p class="block level level-left" style="display:flex; margin: 0.7rem 0;">
                <a class="button is-success" href="https://ipa.greenbank.lan/ipa/ui/" target="_blank">
                  <span class="icon">
                    <i class="fas fa-id-card"></i>
                  </span>
                  <span>FreeIPA</span></a>
                <a class="button" href="https://192.168.1.107/ipa/ui/" style="margin-left: 0.7rem;" target="_blank">
                  <span class="icon">
                    <i class="fas fa-id-card"></i>
                  </span>
                  <span>FreeIPA (No DNS)</span></a>
              </p>
              <div class="block" style="margin-top: 0rem;">
                Thanks for maintaining SAD security!
              </div>
              <% else %>
                <p class="block">This is a security risk. Please change it.</p>
                <p class="block level level-left" style="display:flex;">
                  <span>Go here:</span>
                  <a class="button is-danger" href="https://ipa.greenbank.lan/ipa/ui/" style="margin-left: 0.7rem;"
                    target="_blank">
                    <span class="icon">
                      <i class="fas fa-id-card"></i>
                    </span>
                    <span>FreeIPA</span></a>
                  <a class="button is-warning" href="https://192.168.1.107/ipa/ui/" style="margin-left: 0.7rem;"
                    target="_blank">
                    <span class="icon">
                      <i class="fas fa-id-card"></i>
                    </span>
                    <span>FreeIPA (No DNS)</span></a>
                </p>
                <p class="block">
                  Try the left link, but you may need to use the right if your DNS is nonfunctional.
                  If a security warning appears, add an exception / click past it.
                  If a <i>browser popup</i> appears, click Cancel.
                  At the grey screen, sign in with your existing username and password.
                </p>
                <p class="block">
                  It will immediately prompt you to make a new password.
                  Make a new password, and <strong>remember it</strong> or put it in your password manager.
                  As this is a shared environment, please do not reuse a password from elsewhere!
                </p>
                <p class="block">
                  Once you get through to the full account page, you are finished. Thank you for maintaining SAD
                  security. Refresh this page to clear this warning.
                </p>
                <% end %>
          </div>
        </div>-->


        <!-- GROUPS -->
        <div
          class="tile is-child message <%= if Enum.member?(member_of, ~s(sadmembers)), do: ~s(is-info), else: ~s(is-danger) %>">
          <div class="message-header">
            Review your System Groups
            <span class="icon">
              <i class="fas fa-users"></i>
            </span>
          </div>
          <div class="message-body">
            <table class="table is-hoverable is-fullwidth block" style="background-color: inherit;">
              <thead>
                <tr>
                  <td></td>
                  <td><span style="padding: 0 0.75em;">Group ID</span></td>
                  <td><span style="padding: 0 0.75em;">Description</span></td>
                </tr>
              </thead>
              <tbody>
                <%= for group <- (member_of) do %>
                  <tr>
                    <td>
                      <span class="tag is-medium icon" style="background-color: inherit;">
                        <i class="fas fa-user-friends"></i>
                      </span>
                    </td>
                    <td>
                      <span class="tag is-medium is-white">
                        <%= group %>
                      </span>
                    </td>
                    <td>
                      <span class="tag is-medium group-desc" style="background-color: inherit;">
                        <%= case group do
                          "ipausers" -> "Generic group for all users"
                          "sadmembers" -> "VPN access and personal access to Proxmox"
                          "sadchads" -> "General-level access to shared VMs on Proxmox"
                          "sadmins" -> "Core board / administrative access"
                          _ -> "-"
                          end %>
                      </span>
                    </td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
            <div class="block">
              <%= if not Enum.member?(member_of, "sadmembers" ) do %>
                <p>
                  <span class="icon">
                    <i class="fas fa-warning"></i>
                  </span>
                  <strong>
                    Missing access to <span class="tag is-medium is-danger">sadmembers</span>
                  </strong>
                  - You are unable to login to Proxmox.
                </p>
                <% end %>
            </div>
            <div class="block">
              <strong>Missing a group/permission?</strong> Contact the board to get access.
            </div>
          </div>
        </div>



        <!-- DOCUMENTATION -->
        <div class="tile is-child message is-link">
          <div class="message-header">
            Read the Freaking Manual
            <span class="icon">
              <i class="fas fa-book"></i>
            </span>
          </div>
          <div class="message-body">
            <div class="block">
              Before making use of the SADNET system, we request that you read the Rules in the following link.
            </div>
            <div class="block">
              <a href="https://umbcsad.club/?page_id=1623" class="button is-link" target="_blank">
                <span class="icon"> <i class="fas fa-book-reader"></i> </span>
                <span>Open Manual in New Tab</span>
              </a>
            </div>
          </div>
        </div>


      </div>
      <div class="tile is-vertical is-parent tile-right">


        <!-- CONNECTIVITY TEST -->
        <div id="dns-test-panel" class="tile is-child message is-info">
          <div class="message-header">
            Test your Connectivity
            <span class="icon">
              <i class="fas fa-network-wired"></i>
            </span>
          </div>
          <div class="message-body">
            <table class="table is-hoverable is-fullwidth block" style="background-color: inherit;">
              <tbody>
                <tr>
                  <td><abbr title="Try fetching http://10.8.0.1">Baseline IP Test</abbr></td>
                  <td id="test-ip"><i>Waiting to run...</i></td>
                </tr>
                <tr>
                  <td><abbr title="Try fetching http://10.42.0.1">Yellowcake IP Subnet Test</abbr></td>
                  <td id="test-ip-yc"><i>Waiting to run...</i></td>
                </tr>
                <tr>
                  <td><abbr title="Try fetching http://10.42.5.1">Bluechip IP Subnet Test</abbr></td>
                  <td id="test-ip-bc"><i>Waiting to run...</i></td>
                </tr>
                <tr>
                  <td><abbr title="Try fetching http://10.42.6.1 - This is EXPECTED to fail.">Expected No Connectivity Check</abbr></td>
                  <td id="test-expect-fail"><i>Waiting to run...</i></td>
                </tr>
                <tr>
                  <td><abbr title="Try fetching https://proxmox.umbcsad.club:8006">Internal DNS Test</abbr></td>
                  <td id="test-dns"><i>Waiting to run...</i></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>Summary</td>
                  <td id="dns-summ"><i>Waiting to run...</i></td>
                </tr>
              </tfoot>
            </table>
            <div class="block">
              <button id="dns-startbutton" class="button is-info"
                style="float:right; margin-left: 1.5rem; margin-bottom: 1rem;" onclick="dnsTestClicked()">
                <span class="icon">
                  <i class="fas fa-satellite-dish"></i>
                </span>
                <span>Run Connectivity Tests</span></button>
              These Javascript-based tests will check that you have IP connectivity to all parts of the SADNET IP space,
              and that your system can resolve internal SADNET DNS names.
            </div>
          </div>
        </div>


        <!-- ACCOUNT DETAILS -->
        <div class="tile is-child message <%= if emails == [], do: " is-warning" %>">
          <div class="message-header">
            Check your Account Details
            <span class="icon">
              <i class="fas fa-user-check"></i>
            </span>
          </div>
          <div class="message-body">
            <div class="block" style="margin-bottom: 0rem;">
              Full name:
              <span class="tag is-medium is-white" style="margin-left: 0.2rem;">
                <%= full_name %>
              </span>
            </div>
            <div class="block" style="margin-top: 0.4rem; margin-bottom: 0.4rem;">
              Emails:
              <%= if emails !=[] do %>
                <%= for email <- emails do %>
                  <span class="tag is-medium is-white" style="margin-left: 0.2rem;">
                    <%= email %>
                  </span>
                  <% end %>
                    <% else %>
                      <span class="tag is-medium is-warning" style="margin-left: 0.2rem;">
                        <span class="icon-text">
                          <span class="icon"><i class="fas fa-envelope"></i></span>
                          <span>No email present. Consider adding one.</span>
                        </span>
                      </span>
                      <% end %>
            </div>
            <div class="block" style="margin-top: 0.8rem;">
              If you wish to change either of these, log in to the Portal (see below).
            </div>
          </div>
        </div>



      </div>
    </div>
  </section>

  <section class="section lower-section" style="padding-top: 1.5rem;">
    <h1 class="title" style="margin-bottom: 2.5rem;">Quick Links</h1>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child message quicklink yellowcake">
          <span class="title is-4">Yellowcake / Proxmox</span>
          <br>
          <a href="https://proxmox.umbcsad.club:8006/"> <img src="/images/proxmox.png" /></a>
          <br>
          Use Proxmox to create and view virtual machines and LXC containers.
          This is probably where you'll spend most of your time.
          <br>
          <a href="https://proxmox.umbcsad.club:8006/">https://proxmox.umbcsad.club:8006/</a>
          <a href="https://10.42.0.50:8006/">https://10.42.0.50:8006/</a>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child message quicklink" href="/">
          <span class="title is-4">Login Portal</span>
          <br>
          <a href="https://login.umbcsad.club/"> <img src="/images/mokey.png" /></a>
          <br>
          Use the login portal for SADNET account self-service. Change your password here.
          <br>
          <a href="https://login.umbcsad.club/">https://login.umbcsad.club/</a>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child message quicklink bluechip">
          <span class="title is-4">Bluechip / ESXi</span>
          <br>
          <a href="https://esxi.umbcsad.club/"> <img src="/images/esxi.png" /></a>
          <br>
          This is the hypervisor interface for Bluechip.
          At this time, board approval is required for access.
          <br>
          <a href="https://esxi.umbcsad.club/">https://esxi.umbcsad.club/</a>
          <a href="https://10.42.5.50/">https://10.42.5.50/</a>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child message quicklink yellowcake">
          <span class="title is-4">OPNsense</span>
          <br>
          <a href="https://10.42.0.1/"> <img src="/images/opnsense.png" /></a>
          <br>
          OPNsense is the firewall sitting in front of Yellowcake's internal hosts.
          Go here to add port forwards.
          OPNsense is also the authoritative nameserver for <i>all internal</i> DNS.
          <br>
          <a href="https://10.42.0.1/">https://10.42.0.1/</a>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child message quicklink">
          <span class="title is-4">FreeIPA Administration</span>
          <br>
          <a href="https://auth.umbcsad.club/"> <img src="/images/freeipa.png" /></a>
          <br>
          This is the FreeIPA interface for admin use. Admins, approve new accounts and reset passwords here.
          <br>
          <a href="https://auth.umbcsad.club/">https://auth.umbcsad.club/</a>
          <a href="https://10.42.0.70/">https://10.42.0.70/</a>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child message quicklink bluechip">
          <span class="title is-4">pfSense</span>
          <br>
          <a href="https://10.42.5.1/"> <img src="/images/pfsense.png" /></a>
          <br>
          pfSense is the firewall sitting in front of Bluechip's internal hosts.
          Add port forwards for Bluechip (10.42.5) hosts here.
          <br>
          <a href="https://10.42.5.1/">https://10.42.5.1/</a>
        </div>
      </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p> <strong>University of Maryland, Baltimore County</strong> <br>
        System Administration and Software Development Club <br>
        1000 Hilltop Circle
        Baltimore, MD 21250</p>
        <p>SADNET Virtualized Lab Environment</p>
    </div>
  </footer>
</body>

</html>
